/dist/
/bin/
*.exe
*.test
*.out

app/build/bin/
app/build/windows/installer/tmp/
app/build/windows/installer/wails_tools.nsh
app/frontend/node_modules/
app/frontend/dist/
app/frontend/wailsjs/
app/frontend/package.json.md5

docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

.DS_Store
